<nav class="navbar">
  <div class="nav-container">
    <div class="nav-logo">
      <span class="logo-text">Gurpreet Singh</span>
    </div>
    <div class="nav-links">
      <a
        routerLink="/home"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
      <a routerLink="/about" routerLinkActive="active">About</a>
      <a routerLink="/skills" routerLinkActive="active">Skills</a>
      <a routerLink="/projects" routerLinkActive="active">Projects</a>
      <a routerLink="/achievements" routerLinkActive="active">Achievements</a>
      <a routerLink="/contact" routerLinkActive="active">Contact</a>
    </div>
    <div class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</nav>
